.container{
    width: 60%;
    margin: auto;
}

.container li{
    /* list-style-type: decimal; */
    padding: 10px;
}

.container h1{
    font-size: 20px;
    text-transform: uppercase;
}

.container p{
    font-size: 15px;
}